/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2020, 2:30:57 AM
    Author     : azizb
*/

.button{
    -fx-background-color: #f3d1f4;
}
.button:hover{
    -fx-background-color: #43d8c9;
}
.button:pressed{
    -fx-background-color: #649d66;
}